*{
    padding: 0;
    margin: 0;
    text-align: center;
}
.conteneur{
    background-image: url(background.jpg);
    height: 300px;
    width: 250px;
    margin: 15% 40%;
    border: solid blue;
    border-radius: 12px;
}
.titre_one{
    margin: 8%;
    font-family: monospace;
    color: rgb(128, 13, 156);
}
h3{
    font-family: monospace;
    font-size: 19px;
}
.number, .button{
    height: 30px;
    border: none;
    border-radius: 12px;
}
.button{
    background: none;
    color: rgb(25, 10, 118);
}
.button:hover{
    cursor: pointer;
}
.affiche{
    margin: 9% 9%;
    border: solid rgb(27, 99, 117) 2px;
    height: 70px;
    width: 200px;
}
p{
    margin: 9% 16%;
    background-color: rgb(6, 192, 248);
    height: 20px;
    width: 130px;
    color: rgb(0, 0, 0);
}